@font-face {
    font-family: 'Verve';
    src: url('verve.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Verve';
}

body {
	background-color: #fff7e5; 
	background-image: url(background.gif);
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-position: center bottom;
	font-family: 'Verve', sans-serif;
}

.small-text {
	font-size: 18px;
    text-shadow: none;
    background: #b76565;
    display: block;
    width: 100%;
    color: white;
}

.green {
	background-color:  #177c17;
}
.blue {
	background-color:  #0c46b3;
}
.red {
	background-color:  #a63733;
}
.black {
	background-color:  #3f3f3f;
}
.pink {
	background-color: #FF80AB;
}
.purple {
	background-color: #810c81; 
}


#app-container {
	display: flex;
    flex-wrap: wrap;
}




.nav-links-container {
	display: flex; 
	flex-direction: column; 
}
.nav-links-container a {
	color: #fff; 
	text-decoration: none;
	display: block;
	padding: 1em;
	text-align: center;
	width: 320px;
	background-color: #a63733;
	border-radius: 4px;
	margin: .4em 0;
	font-size: 1.25em; 
	transition: all 240ms ease;
}
.nav-links-container a:active {
	background-color: #810c81;
}




/* ======================================================================
PLAY
======================================================================= */

.deck-container {
	width: 50%;
}

.name-container {
	/* font-variant: small-caps; */
	font-size: 1.2em; 
}




.pickbtn-container {
	/* height: 20vh; */
	width: 100%; 
	display: flex; 
	justify-content: center;
	align-items: center;
	border-left: solid 4px rgba(255,255,255,0.5);
	padding-left: 6px;
}
.tour-counter {
	margin-right: auto; 
	margin-left: 12px; 
}
#pickcards-button {
	margin-right: 12px;
	padding: 2em;
	border: none; 
	background-color: rgba(255,255,255,0.25);
	cursor: pointer;
	height: 90%;
}
#pickcards-button:active {
	background-color: rgba(255,255,255,0.55);
}

#cardchoice-container {
	width: 100%; 
	height: 80vh;
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
}

.cardchoice-style {
	width: calc( 50% - 24px ); 
	height: calc(40vh - 24px); 
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	/* font-family: 'Gill Sans MT'; */
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 4em; 
	margin: 12px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.25); 
	text-shadow: 1px 1px 3px rgba(0,0,0,.95); 
	background: radial-gradient(wheat, #f9cda6);
    border: solid white 8px;
	transition: all ease 240ms;
}
.cardchoice-style:hover {
	transform: scale(1.05); 
	box-shadow: 4px 4px 16px rgba(0,0,0,.15);
}
.cardchoice-style--hidden {
	background: radial-gradient(transparent, brown);
    background-image: url(background.gif);
    background-size: cover;
    background-position: center bottom;
}
.cardchoice-style.exhaustion {
	background: radial-gradient(rgb(248, 22, 2), #a50202);
}

.btn-exhaustion {
	margin: 12px; 
	height: 48px; 
	width: 220px;
}
#add-exhaustion {
	font-weight: bold;
}
#skip-exhaustion {
	opacity: .85; 
	font-style: italic;
}