* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

body {
	background-color: #fff7e5; 
}

.small-text {
	font-size: .5em; 
}

.green {
	background-color:  #33a633;
}
.blue {
	background-color:  #335ba6;
}
.red {
	background-color:  #a63733;
}
.black {
	background-color:  #3f3f3f;
}


#app-container {
	display: flex;
    flex-wrap: wrap;
}

.deck-container {
	width: 50%;
    border: solid 1px #a63733;
}





.pickbtn-container {
	height: 20vh;
	width: 100%; 
	display: flex; 
	justify-content: center;
	align-items: center;
}
.tour-counter {
	margin-right: auto; 
	margin-left: 12px; 
}
#pickcards-button {
	margin-right: 12px;
	padding: 2em;
	border: none; 
	background-color: rgba(255,255,255,0.25);
	cursor: pointer;
	height: 90%;
}
#pickcards-button:active {
	background-color: rgba(255,255,255,0.55);
}

#cardchoice-container {
	width: 100%; 
	height: 80vh;
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
}

.cardchoice-style {
	width: calc( 50% - 24px ); 
	height: calc(40vh - 24px); 
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	font-family: 'Gill Sans MT';
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 4em; 
	margin: 12px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.25); 
	text-shadow: 1px 1px 3px rgba(0,0,0,.95); 
}

.btn-exhaustion {
	margin: 12px; 
	height: 48px; 
	width: 220px;
}
#add-exhaustion {
	font-weight: bold;
}
#skip-exhaustion {
	opacity: .85; 
	font-style: italic;
}